@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  /*dark blue*/
  background-color: #071369;
  color: #FFd6FF;
  font-family: 'Poppins', sans-serif;
  padding: 50px;
}

/* unvisited link*/
a:link {
  color: white;
  text-decoration: none;
}

 /*visited link*/
a:visited {
  color: white;
  text-decoration: none;
}

 /*mouse over link*/
a:hover {
  /*light pink*/
  color: #FFD6FF;
  text-decoration: none;
}

 /*selected link*/
a:active {
  /*light blue*/
  color: #99B9FF;
  text-decoration: none;
  transition-duration: 0.5s;
}

h1 {
  font-style: bold;
  text-align: center;
  color: #ffffff;
}

h3 {
  font-style: italic;
  color: #ffffff;
}
h4 {
  text-decoration: underline;
}

canvas {
  margin-left: 30%;
  width: 600px;
  height: 600px;
}
